@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-3xl md:text-4xl lg:text-[3.375rem] font-bold lg:leading-[90px] font-[family-name:var(--font-clash-display)];
}



h3 {
  @apply text-lg md:text-xl lg:text-2xl font-medium;
}



p {
  @apply text-base lg:text-lg text-[#ffffff];
}



/*  */
@layer components {
  .container {
    margin: auto;
    max-width: 1440px;
  }

  @media screen and (max-width: 640px) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media screen and (max-width: 1020px) {
    .container {
      max-width: 1000px;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media screen and (min-width: 1020px) {
    .container {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
}


